html, body 			{ 	background-color: #FFFFFF; font-family : Arial, sans-serif; overflow: auto;  }
body 				{ 	margin: 40px; padding:0; color:#000;}
a:hover 			{ 	color:#FFFFFF; background:#CCCCCC; text-decoration:none; }
a 					{ 	color:#CCCCCC; background:#FFFFFF; text-decoration:none; }
#header 			{ 	margin-left:60px; margin-right:60px; }
#title 				{ 	font-size:28px }
#desc 				{ 	margin-top:5px; margin-bottom:20px; font-size:14px; }
#logo 				{ 	align="right"; vertical-align:middle; display:inline-block; float:right; }
#flash 				{ 	margin-top: 40px; }
#content			{	margin:0 auto; text-align:center; padding:50px 0;}
#dev 				{   display:none; }
#backup, #flash		{ 	margin: 0; padding:0; }
#footer				{	background:#fff; width:100%; height:50px; border-top:1px solid #999; line-height:5px; margin:0; font-size:14px; color:#666;}
img					{   margin:0; padding:0 }
form				{	display:inline-block;}



/* Tablet (Portrait) Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
		.iota		{ display:none; }
		.info		{ display: block; margin:5px 0; }
}


/* Mobile (Portrait) Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
		.inner 		{ width: 350px; margin: 0 auto;}
		#title		{ display:block; clear:both; }
		#header 	{ margin-left:0px; margin-right:0px;}
		#logo 		{ align="left"; vertical-align:middle; display:inline-block; float:left; }
		.iota		{ display:none; }
		.info		{ display: block; margin:5px 0; }
		
		#flash 		{ padding:0; margin:0; left:-50px; } 
		
		
		#content	{ margin:0 ; text-align:left; padding:50px 0;}
		
		
		
}

/* Mobile (Portrait) Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
		#title		{ }
		.iota		{ display:none; }
		.info		{ display: block; margin:5px 0; }

}
