html, body { background-color: #FFFFFF; font-family : Arial, sans-serif; }
body { margin: 40px; padding:0; }
a:hover { color:#FFFFFF; background:#CCCCCC; text-decoration:none; }
a { color:#CCCCCC; background:#FFFFFF; text-decoration:none; }
#header { margin-left:60px; margin-right:60px; }
#title { font-size:28px }
#desc { margin-top:5px; margin-bottom:20px; font-size:14px; }
#logo { align="right"; vertical-align:middle; }
#flash { margin-top: 40px; }